<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rak.dj.djmusicplayer">

    <uses-sdk tools:overrideLibrary="de.Maxr1998.trackselectorlib" />

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".JazzMusicPlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_launcher"
        android:label="Jazz${appNameSuffix}"
        android:largeHeap="true"
        android:theme="@style/AppTheme.FullScreen.Light"
        tools:replace="android:allowBackup, android:label">
        <activity
            android:name=".MainActivity"
            android:label="Jazz${appNameSuffix}"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.CATEGORY_APP_MUSIC" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />

        <meta-data
            android:name="com.rak.dj.djmusicplayer.glide.JazzGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <!-- Music service -->
        <service
            android:name=".musicplayerutils.MusicService"
            android:label="@string/app_name"
            android:process=":main" />

        <activity
            android:name=".searchmanager.SearchActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />

        <activity
            android:name=".playingmanager.NowPlayingActivity"
            android:theme="@style/AppTheme.FullScreen.Light" />

        <activity android:name=".playlistmanager.PlaylistDetailActivity" />

        <activity
            android:name=".musiclibrary.video.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".tageditormanager.TagEditorActivity" />

        <activity
            android:name=".musiceditmanager.RingDroidActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity android:name=".appintro.AppIntroActivity" />

        <activity android:name=".musictoolsmanager.MusicToolsActivity"/>

        <activity android:name=".settingsmanager.SettingsActivity"
            android:theme="@style/AppTheme.FullScreen.Light"></activity>

        <receiver android:name=".helpers.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>


    </application>

</manifest>